.low-code-layout .content {
  > div {
    margin: 60px auto 0;
  }

  &.h5 {
    .canvas {
      position: relative;
      width: 375px;
      height: 667px;
      overflow: auto;
      background-color: $grey-lighter;
      box-shadow: 0 1px 6px $grey-base;

      &.active {
        border: 1px solid $blue-base;
      }
    }
  }
}
