.low-code-layout .nav {
  height: calc(100vh - 60px);

  .menu {
    padding-top: 10px;

    > div {
      padding: 0;
    }

    .menu-header {
      display: inline-block;
      width: 100%;
      text-align: center;

      > div:first-child {
        background-color: $grey-lighter;
      }
    }
  }

  &.nav-left .component-list {
    padding: 2px;
    cursor: grab;

    .arco-card-size-default {
      &:hover {
        background-color: $blue-base-70;

        .arco-card-body {
          color: $white;
        }
      }
    }
  }

  &.nav-right {
    .component-info {
      padding: 20px 5px 0;
    }

    .form {
      width: 90%;
      margin: 20px auto 0;
      text-align: left;

      /* label */
      .arco-form-item > .arco-form-label-item {
        flex: 0 0 30%;
      }

      /* input */
      .arco-col.arco-col-19.arco-form-item-wrapper {
        flex: 0 0 70%;
      }
    }

    .pick-color {
      width: 25px;
      height: 25px;
      margin: 2px;
    }
  }
}
