@import '../../../style/variables.scss';

/* 伸缩框距组件 */
$padding: 4px;

.resizer.arco-resizebox {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  overflow: visible;

  .resizebox-trigger {
    position: absolute;
    right: 0 - $padding;
    bottom: 0 - $padding;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-base;

    &::after {
      display: block;
      border: 3px solid $blue-base;
      content: '';
    }

    &.vertical {
      width: 2px;
      height: calc(100% + $padding);
    }

    &.horizontal {
      width: calc(100% + $padding);
      height: 2px;
    }
  }
}
