@import '../../../style/variables.scss';

.resizebox-demo-custom-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.resizebox-demo-custom-trigger::before,
.resizebox-demo-custom-trigger::after {
  width: 6px;
  height: 6px;
  border: 1px solid $blue-base;
  content: '';
}

.resizebox-demo-custom-trigger-line {
  flex: 1;
  background-color: $blue-base;
}

.resizebox-demo-custom-trigger-vertical {
  flex-direction: column;
}

.resizebox-demo-custom-trigger-vertical .resizebox-demo-custom-trigger-line {
  width: 1px;
  height: 100%;
}

.resizebox-demo-custom-trigger-horizontal .resizebox-demo-custom-trigger-line {
  width: 100%;
  height: 1px;
}

.resizer.arco-resizebox {
  position: absolute;
  background: $blue-base-20;
}
