@import './variables.scss';

* {
  box-sizing: border-box;
}

.content {
  background-image: repeating-linear-gradient($grey-light 0 8px, $transparent 0 16px),
    repeating-linear-gradient(90deg, $grey-light 0 8px, $transparent 0 16px);
  background-blend-mode: screen;
}

.low-code-layout.arco-layout {
  flex-direction: row;
}

.nav {
  &.nav-left,
  &.nav-right {
    box-shadow: 0 1px 6px $grey-normal;
  }

  .arco-layout-sider-children {
    padding-top: 4px;
  }
}
