@import './variables';

.low-code-layout {
  width: 100vw;
  height: 100vh;

  .header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 60px;
    background-color: $white;
    box-shadow: 0 1px 6px $grey-3;

    .page-name {
      &.empty {
        color: $grey-lighter;
      }
    }
  }

  background-image: repeating-linear-gradient($grey-3 0 8px, $transparent 0 16px),
    repeating-linear-gradient(90deg, $grey-3 0 8px, $transparent 0 16px);
  background-blend-mode: screen;
}
