@import '../../style/variables.scss';

.arco-layout-header.header {
  position: relative;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: $white;
  box-shadow: 0 1px 6px $grey-normal;

  > div {
    margin: 0 50px;
  }

  .page-info {
    display: flex;
    flex: 0 0 300px;
    align-items: center;
    width: 600px;
    font-size: 20px;

    .arco-descriptions-item {
      padding: 0;

      &:first-child {
        padding-right: 20px;
      }

      .empty {
        color: $blue-base;
      }
    }

    .platform,
    .edit {
      margin-left: 20px;
    }

    .edit {
      color: $blue-base;
    }
  }

  .btn-group {
    flex: 0 0 300px;

    button {
      width: 80px;
      margin-left: 20px;
    }
  }
}
